{% extends 'public/base_cpanel.html' %}
<!---->
{% block title %}Crear Clave{% endblock %} {% block customCSS %}
<style>
  /* Tu código CSS personalizado va aquí */
  .contenedor {
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.3);
    border-width: 1px;
    border-radius: 5px;
  }
  .campo_clave input {
    float: left;
    width: 95%;
  }
  .campo_clave button {
    width: 5%;
  }
</style>
{% endblock %}
<!---->
{% block body %}
<div class="container-xxl">
  <div class="card">
    <div class="card-body">
      <div class="app-brand justify-content-center">
        <span class="app-brand-logo">
          <img
            class="logo"
            style="display: flex"
            src="{{ url_for('static', filename ='./assets/img/logo.png') }}"
            alt="Logo"
          />
        </span>
      </div>
{% endblock %}
